* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 157, 252);
}

.video-container {
    position: relative;
}

button {
    border-radius: 50px;
    border-color:rgba(167, 167, 163, 0.404) ;
    width: 30px;
    height: 30px;
    background-color: rgba(245, 245, 220, 0.404);
}

.iconify{
    color: #ffff;
}

.video-container {
    width: 50%;
}

#video {
    width: 100%;
    position: relative;
}

.video-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.342);
    bottom: 3px;
    height: 40px;
    z-index: 2;
}


#control {
    width: 49%;
    left: 27px;
 
}


input[type=range] {
    outline: none;
    height: 3px;
  }



#video::-webkit-media-controls{
    display: none;
}