* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 157, 252);
}

.video-container {
    margin-top: 5rem;
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    border-radius: 50px;
    border-color: rgba(167, 167, 163, 0.404);
    width: 25px;
    height: 25px;
    background-color: rgba(245, 245, 220, 0.404);
}

audio#audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button#fullScreen {
    margin-top: 7px;
    margin-right: 100px;
}

.iconify {
    margin-top: 2px;
    color: #ffff;
    margin-right: 1px;
}

#video {
    width: 100%;
    position: relative;
}

.video-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.342);
    bottom: 3px;
    height: 40px;
    z-index: 2;
}

audio::-webkit-media-controls-panel {
    background: #ff1493;
}

audio::-webkit-media-controls-mute-button {
    border-radius: 50%;
    color: #fff;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline {
    color: #fff;
}

audio::-webkit-media-controls-timeline {
    background-color: rgba(245, 245, 220, 0.404);
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 50px;
}

#control {
    position: absolute;
    width: 50vw;
    left: 0;
}

.videoControButtons {
    padding: 7px;
}

input[type=range] {
    outline: none;
    height: 3px;
}

#video::-webkit-media-controls {
    display: none;
}


/**/

.audio-player {
    width: 15rem;
    height: 15rem;
}

.icon-container {
    width: 100%;
    height: 100%;
    background-color: #DE5E97;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-icon {
    width: 90%;
    height: 90%;
}

.audio-player {
    --player-button-width: 3em;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.player-button {
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
    padding: 0;
}

.timeline {
    -webkit-appearance: none;
    width: calc(100% - var(--player-button-width));
    height: .5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#DE5E97, #DE5E97);
    background-repeat: no-repeat;
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #a94672;
}

.timeline::-webkit-slider-thumb:hover {
    background-color: #943f65;
}

.timeline:hover::-webkit-slider-thumb {
    opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}