* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 157, 252);
}

.video-container {
    margin-top: 5rem;
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    border-radius: 50px;
    border-color: rgba(167, 167, 163, 0.404);
    width: 25px;
    height: 25px;
    background-color: rgba(245, 245, 220, 0.404);
}

audio#audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button#fullScreen {
    margin-top: 4px;
    margin-right: 100px;
}

.iconify {
    margin-top: 2px;
    color: #ffff;
    margin-right: 1px;
}

#video {
    width: 100%;
    position: relative;
}

.video-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.342);
    bottom: 3px;
    height: 40px;
    z-index: 2;
}

audio::-webkit-media-controls-panel {
    background: #fff;
    border-radius: 0;
}

#control {
    position: absolute;
    width: 50vw;
    left: 0;
}

.videoControButtons {
    padding: 7px;
}

input[type=range] {
    outline: none;
    height: 3px;
}

#video::-webkit-media-controls {
    display: none;
}